body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}


fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
